body {
  text-align: center;
}

.title-text {
  margin-bottom: -24px;
}

.doping-dot {
  fill: orange;
}

.clean-dot {
  fill: green;
}

#legend {
  outline: solid 3px #c3c3c3;
  outline-offset: 5px;
}

#tooltip {
  width: auto;
  min-width: 300px;
  height: auto;
  background-color: lightblue;
  display: inline-block;
  padding: 8px 16px;
  visibility: hidden;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  white-space: pre-line;
}
